body {
    font-family: "Lato", sans-serif;
    margin: 0;
    /* background-color: rgb(234,231,230); */
    background-color: #1c1a1a;
    color: #f1f1f1;
    
    box-sizing: border-box;
  }
  @import url('https://fonts.cdnfonts.com/css/minecraft-4');
  hr{
    width: 30%;
  }
  h2{
    font-size: 30px;
    font-weight: 300;
  }
  h3{
    font-size: 25px;
    font-weight: 250;
  }
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #111;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: #f1f1f1;
    padding: 16px;
    text-decoration: none;
    transition: opacity 0.3s, background-color 0.3s;
    text-align: center;
    font-size: 1.5rem;
  }
  .sidebar > a:hover {
    background-color: #04AA6D;
  }
  .sidebar > a:active {
    opacity: 0.6;
  }
  .sidebar > a > svg {
    display: block;
    margin: 0 auto;
    margin-bottom: 0;
    
  }

  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    background-image: url('https://i.pinimg.com/564x/39/0e/1e/390e1e3ed860bcc23fea7fb84cfd393b.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  .wrapper {
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  .typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'Minecraft', sans-serif;
    font-size: 4em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  .main-container
  {
    display: block;
    padding: 10%;
    margin-left: 17%;
  }
  .main-container > h2  > button  {
    border: none;
    background-color: #1c1a1a;
    color: #f1f1f1;
    cursor: pointer;
    transition: opacity 0.4s;
  }
  .main-container > h2  > button:hover  {
    opacity: 0.8;
  }
  .main-container > h2  > button:active  {
    opacity: 0.4;
  }
  .main-container > h2 {
    font-size: 32px;
  }
  .description{
    font-size: 16px;
    width: 75%;
  }
  .my-button {
    display: block;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #04AA6D;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: bold;
    transition: opacity 0.3s;
    margin-top: 30px;
  }
  .my-button:hover {
    opacity: 0.8;
  }
  .my-button:active {
    opacity: 0.4;
  }
  #typing-container {
    padding: 10px;
    overflow: hidden;
    width: 200px;
 }

 .row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  -ms-flex: 25%; 
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
.contacts {
  margin-bottom: 5px;

}
.contact-icon{
  margin-bottom: 5px;
}
.contact-icon>img{
  margin-right: 10px;
}

.contact-icon>p{
  font-size: 14px;
}
.contacts > form {
  margin-top: 40px;
}
.contacts > form > p{
  font-size: 13px;
}
.contacts > input {
  margin-top: 10px;
}
.contacts > label {
  margin-bottom: 10px;
}
.social-platforms{
  margin-top: 100px;
  vertical-align: top;
  margin-bottom: 30px;
}
.social-icon{
  
  display: inline;
  width: 40px;
  margin-right: 4px;
}
.social-icon > a > svg:hover{
  opacity: 0.8;
}
.social-icon > a > svg:active{
  opacity: 0.4;
}

